* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v26/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkBI9_.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v48/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* universal responsive actions */
* {
  box-sizing: border-box;
}

/* creating a flex tp the HTML body to have a column layout.  */
body,
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: 'EB Garamond';
  font-size: 18px;
}

/*GRID SECTION this is mobile first 320px to 600px*/
.grid {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
}

.Home {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

/* flexbox */
#Home {
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.social {
  display: flex;
  justify-content: center;
}
.top-unit-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
  font-size: 22px;
}

.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer {
  display: flex;
  flex-direction: column;
}
.footer-top {
  display: flex;
  justify-content: space-around;
}
section.social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission {
  width: 50%;
}
.faq > button {
  font-size: 19px;
}
section.footer-contact {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  align-content: center;
  text-align: end;
}
.copyright {
  font-size: 10px;
}

ul.footer-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
}
.header-footer-contact {
  display: flex;
  justify-content: flex-end;
}
.training-ops {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.volunteer-ops {
  display: flex;
  flex-direction: column;
}
.training-ops-list {
  text-align: center;
}

.menu-list-item h2 {
  background-color: #192250;
  padding: 12px;
  border-radius: 13px;
  text-align: center;
}
textarea,
input[type='text'],
input[type='email'] {
  border: 1px solid grey;
  font-weight: bold;
  font-size: 19px;
  border-radius: 8px;
  background-color: #d1d1d1;
}

/* .contact-me-form { */
/* border: 5px double #f7941e; */
/* padding: 25px; */
/* width: 93vw; */
/* margin: auto; */
/* } */
.white {
  color: white;
}
.form-button {
  padding: 15px;
  width: 25vw;
  margin-top: 15px;
  border: none;
  outline: none;
  background-color: #003662;
  color: white;
  font-weight: bold;
  letter-spacing: 1.3px;
  -webkit-box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.89);
  box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.89);
}
.form-button:hover {
  background-color: #003058;
}
.form-button:active {
  transform: translateY(4px);
  box-shadow: none;
}
.nav-toggle {
  outline: none;
  border: none;
  padding: 25px;
  margin-top: 15px;
  background: none;
}

.mission {
  display: flex;
  flex-direction: column;
  width: 61%;
  text-align: end;
}
/* indivual element styling */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 2%),
    6.7px 6.7px 5.3px rgb(0 0 0 / 3%), 12.5px 12.5px 10px rgb(0 0 0 / 4%),
    22.3px 22.3px 17.9px rgb(0 0 0 / 4%), 41.8px 41.8px 33.4px rgb(0 0 0 / 5%),
    100px 100px 80px rgb(0 0 0 / 7%);
}
.links-container {
  height: 0;
  opacity: 0;
  transition: all 3s;
}
.social i {
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: #808285;
}
#navBar {
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  width: 100%;
}

a:any-link {
  border-bottom: 1px solid #003662;
}

h1 {
  text-align: center;
}
textarea {
  resize: none;
}
input {
  margin-bottom: 10px;
  padding: 5px;
  height: 37px;
}

.mission-header h2 {
  margin: 0;
}
.mission-header {
  text-align: end;
}
h1,
h2,
h3 {
  font-family: 'Oswald';
}
h2 {
  color: #f7941e;
  text-align: center;
}
/* image size */
.logo {
  width: 300px;
  position: relative;
  top: 12px;
  border: 18px solid white;
  padding: 0;
  border-radius: 128px;
}
.cod-image,
.sea-cimage,
.volunteer {
  background-size: cover;
  background-position: center;
  width: 90vw;
  background-size: contain;
  background-position: center;
  border-radius: 12px;
  height: 50%;
}
.cod-image-letter {
  width: 50vw;
  margin-top: 25px;
}
.intro-banner {
  text-align: center;
  margin: 0;
  background-color: #808285;
  font-size: 22px;
}

.compass {
  width: 15vw;
  height: 15vh;
}
/* section styling  */
#Home {
  width: 90vw;
}
#main {
  width: 90vw;
  margin: auto;
  text-align: justify;
}
#footer {
  width: 100%;
  margin: auto;
}
.footer-contact-address {
  width: 100%;
  margin: auto;
  text-align: end;
}
.header-footer-contact {
  margin: auto;
  width: 88%;
  text-align: end;
}
.copyright {
  font-size: 12px;
  margin: auto;
}
section.social-footer {
  width: 100%;
}
.footer-links li a {
  font-weight: 800;
}
.header-join {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text {
  width: 90vw;
  margin: auto;
}
.about-text h3 {
  text-align: center;
}
figure,
blockquote {
  margin: 0;
  text-align: center;
}
.chart-course-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-us-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.join-us-container {
  display: flex;
  gap: 1em;
  align-items: center;
}
.join-us-card {
  margin: 10px;
  overflow: hidden;
  flex: 33.33%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 5px 1px 15px 0px rgba(0, 0, 0, 0.6);
}

.join-us-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 15px 15px 15px;
}
.join-us-body p {
  margin: 0;
}

/* images photo gallery */
.uss-cod {
  background-image: url('../images/DSCF2405.JPG');
}

.intro-image {
  height: 50vh;
  width: 90vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.intro-banner {
  position: relative;
  bottom: 12px;
}
.gallery-Container {
  margin: auto;
}
.splide {
  margin: 0 auto;
}

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}

.thumbnail.is-active {
  opacity: 1;
}

.thumbnail img {
  width: 100%;
  height: auto;
}
.join-us-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.join-us-header.volunteer {
  background-image: url('../images/DSCF3265.JPG');
}
.join-us-header.donate {
  background-image: url('../images/cadets/IMG_3469.jpeg');
}
.join-us-header.sea-cadets {
  background-image: url('../images/DSCF2353.JPG');
}
.half {
  display: flex;
  gap: 1em;
  width: 50%;
}
.faq {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}
button.collapse {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.collapse:after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.collapse:after {
  font: var(--fa-font-solid);
  content: '\f107';
  float: right;
}
.is-open:after {
  font: var(--fa-font-solid);
  content: '\f106';
  float: right;
}
.faq-text {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 3s;
  font-size: 19px;
  text-align: left;
}

/* colors */
footer {
  background-color: #003662;
  color: white;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding: 10px;
}

@media (min-width: 48em) {
  .join-us-card {
    flex-wrap: nowrap;
  }
  input {
    width: 38vw;
  }
}
@media (max-width: 768px) {
  .intro-image {
    background-attachment: scroll;
    height: 75vh;
  }
  .join-us-header {
    width: 90vw;
  }
  input {
    width: 40vw;
  }
  .join-us-container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  textarea {
    width: 50%;
  }

  .nav-header {
    height: 0px;
  }
  .links-container {
    opacity: 1;
    /* height: 15vh; */
  }
  #navBar {
    flex-direction: row;
    height: 6vh;
  }
  .top-unit-location {
    flex-direction: row;
    justify-content: space-around;
  }
  .order {
    order: 1;
  }
  .nav-toggle {
    opacity: 0;
  }
}
